.header-libre{

}
.familia{
  display: block;
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  right: 0;
  width: auto;
  @include iphone{
    height: 160px;
    bottom: -80px;
  }
  @include tablet{
    height: 400px;
    bottom: 0;
  }
  @include laptop{
    height: 500px;
    bottom: 0;
  }
  @include hd{
    height: 600px;
    bottom: 0;
  }
}

.creditos{
  background: url(../img/back_creditos.png) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  text-align: center;
  position: relative;

  @include iphone{
    background: url(../img/back_creditos.png) no-repeat center center;
    height: 100%;
  }
  @include tablet{
    height: 100%;
  }
  @include laptop{
    height: 100%;
  }
  @include hd{
    height: 100%;
  }

  @include iphone{
    position: static;
  }

  .textfrase{
    letter-spacing:1px;
    font-family: 'BebasNeue';
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    @include iphone{
      font-size: 3em;
      margin: 100px 0 0 0;
    }
    @include tablet{
      font-size: 4em;
      margin: 100px 0 0 0;
    }
    @include laptop{
      font-size: 4em;
      margin: 100px 0 0 0;
    }
    @include hd{
      font-size: 4em;
      margin: 100px 0 0 0;
    }
  }
}

.creditos::before{
  background-color: rgba(0, 0, 0, 0.6);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.navigator{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}


.cred-princ{
  align-items: baseline;
  align-content: center;
  justify-content: space-around;
  margin: 50px auto 50px auto;

  @include iphone{
    display: block;
    width: $medida-ancho-porcentaje;
  }
  @include tablet{
    width: $medida-ancho;
  }
  @include laptop{
    width: $medida-ancho;
  }
  @include hd{
    width: $medida-ancho;
  }
}

.puntosservicios{
  padding: 0 10px;
  position: relative;

  .imagen-serv{
    display: block;
    box-sizing: border-box;
    height: 200px;
    width: 100%;
    margin: 0 0 $pixel-separacion 0;
    background-color: red;
  }
}

.logos-creditos{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  margin: 0 0 50px 0;
}

.logosacomodo{
  display: block;
  box-sizing: border-box;

  @include iphone{
    width: 150px;
  }
  @include tablet{
    width: 300px;
  }
  @include laptop{
    width: 300px;
  }
  @include hd{
    width: 300px;
  }
}

.construganas{
  margin: 50px 0 100px 0;
}

.botoncreditos{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  @include iphone{
    font-size: 3em;
    margin: 250px 0 0 0;
  }
  @include tablet{
    font-size: 4em;
    margin: 300px 0 0 0;
  }
  @include laptop{
    font-size: 4em;
    margin: 250px 0 0 0;
  }
  @include hd{
    font-size: 4em;
    margin: 200px 0 0 0;
  }
}
