header{
  background-color: $azul-murillo;
  width: 100%;
  display: flex;
  justify-content: center;

  @include iphone{
    height: 80px;
  }
  @include tablet{
    height: 80px;
  }
  @include laptop{
    height: 43px;
  }
  @include hd{
    height: 43px;
  }


  ul{
    width: $medida-ancho;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    @include iphone{
      flex-wrap: wrap;
    }
    @include tablet{
      flex-wrap: wrap;
    }
    @include laptop{
      flex-wrap: wrap;

    }
    @include hd{
      flex-wrap: wrap;

    }


    li{
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-content: center;

    }

    a{
      @include iphone{
        font-size: 0.7em;
      }
      @include tablet{
      }
      @include laptop{

      }
      @include hd{

      }
    }

    a:hover{
      color: $rojo-murillo;

    }
  }

}

.logotexto{
  background: url(../img/texto_logo.svg) no-repeat center center;
  cursor: pointer;

  $mult:1.4;
  @include iphone{
    height: 20px;
    width: 100%;
    margin: 0 0 10px 0;
  }
  @include tablet{
    height: 20px;
    width: 230px;
  }
  @include laptop{
    height: 20px;
    width: 230px;
  }
  @include hd{
    height: 20px;
    width: 230px;
  }
}
