.contenedor{
  background: url(../img/background_home.png) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  text-align: center;
  @include iphone{
    background: url(../img/background_home.png) no-repeat center center;
    position: static;
    padding: 30px 0 0 0;
  }

  .textfrase{
    letter-spacing:1px;
    font-family: 'BebasNeue';
    color: white;
    margin: 20px 0 0 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
    @include iphone{
      font-size: 3em;
    }
    @include tablet{
      font-size: 4em;
    }
    @include laptop{
      font-size: 4em;
    }
    @include hd{
      font-size: 4em;
    }
  }
  h2{
    letter-spacing:1px;
    font-family: 'BebasNeue';
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
    @include iphone{
      font-size: 1em;
    }
    @include tablet{
      font-size: 2em;
    }
    @include laptop{
      font-size: 2em;
    }
    @include hd{
      font-size: 2em;
    }
  }

  h4{
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
    @include iphone{
      margin:30px 0 0 0;
    }
    @include tablet{
      margin:100px 0 0 0;
    }
    @include laptop{
      margin:100px 0 0 0;
    }
    @include hd{
      margin:100px 0 0 0;
    }
  }

}


.logo{
  background: url(../img/logo.svg) no-repeat center center;
  background-size: cover;
  @include iphone{

    margin: 0 auto 0 auto;
    height: 80px;
    width: 160px;
  }
  @include tablet{
    margin: 60px auto 0 auto;
    height: 150px;
    width: 300px;
  }
  @include laptop{
    margin: 60px auto 0 auto;
    height: 150px;
    width: 300px;
  }
  @include hd{
    margin: 60px auto 0 auto;
    height: 150px;
    width: 300px;
  }
}
